@import '../scss/main';

.block{
	max-width:770px;
	margin: 0 auto 50px;
	font:600 24px/1.79'Work Sans', sans-serif;
	text-align: center;
	color: #191919;

	h1{
		margin: 0 0 40px;
		letter-spacing: 0.8px;
		font: bold 60px/1 'Avalon', sans-serif;

		span{
			color: #fedd23;
		}
	}

	p{
		margin: 0;
	}
}